server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4320
        grpc:
          endpoint: 0.0.0.0:4319

ingester:
  max_block_duration: 5m

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces

overrides:
  metrics_generator_processors: [service-graphs, span-metrics]
