receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  prometheus:
    config:
      scrape_configs:
        - job_name: 'node-exporter'
          scrape_interval: 10s
          static_configs:
            - targets: ['node-exporter:9100']

processors:
  batch:

exporters:
  prometheusremotewrite:
    endpoint: "http://mimir:9009/api/v1/push"

  otlp_http/loki:
    endpoint: "http://loki:3100/otlp"
    tls:
      insecure: true

  otlp_grpc/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

service:
  pipelines:
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch]
      exporters: [prometheusremotewrite]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_http/loki]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp_grpc/tempo]